*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    scroll-snap-align: start;
}
.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.one{
    background: #FFB6B9 ;
}
.two{
    background: #AA96DA;
}
.three{
    background: #BBDED6;
}
.four{
    background: #61C0BF;
}